.body {
  background-color: #d5b9ef;
  height: 91vh;
  display: flex;
}

.filters {
  background-color: #d5b9ef;
  flex: 1.5;
}

.items_container {
  display: flex;
  flex: 6;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #d5b9ef;
  height: 100%;
  overflow-y: auto;
}

.all_items {
  width: 100%;
  display: flex;
  overflow-y: auto;
  flex-wrap: wrap;
}

.search_bar {
  width: 20rem;
  border: none;
  border-radius: 0.2rem;
}
